body {
    background-color: black;
    color: white;
}

/* title */
.title {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 8px lightgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title:hover {
    box-shadow: 0px 0px 16px lightgreen;
}


/* cardAdd */
.cardAdd {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 90px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px red;
    border-radius: 5px;
}

.cardAdd:hover {
    box-shadow: 0px 0px 18px red;
}


/* inpAddName */
.inpAddName {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}



/*inpAddCity  */
.inpAddCity {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

/* btnAdd */
.btnAdd {
    width: 80px;
    height: 38px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

/* cardNew */
.cardNew {
    width: 40%;
    height: 80px;
    box-shadow: 0px 0px 6px red;
    margin-left: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* search */
.search {
    width: 220px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

/* select */
.select {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.box {
    width: 80%;
    border: 1px solid blue;
    margin: auto;
    margin-top: 30px;
}


/* cards */
.cards {
    width: 80%;
    height: 180px;
    border: 1px solid red;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}